
body {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 4em;
}

p {
	font-size: 1.5em;
}

#box {
	width: 200px;
	height: 200px;
	background-color: red;
	display: none;
	position: relative;
}

.bold {
	font-weight: bold;
}

.navbar-brand img {
	width: 68px;
	height: 49px;
	position: relative;
	top: -14px;
	left: -3px;
}

.navbar-brand {
	
}