body {
	background-color: #b0e8da;
}

.container {
	text-align: center;
}

#title {
	font-size: 3em;
	text-align: center;
	margin-bottom: 20px;
}

#start-game {
	width: 160px;
	height: 40px;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid #dd02cf;
	color: #e5e5e5;
	background-color: #dd02cf;
}

#start-game:hover {
	background-color: #c101b5;
}

#user-message {
	visibility: hidden;
	color: #1e00ce;
}

#user-timer {
	visibility: hidden;
	color: #1e00ce;
}

#score {
	visibility: hidden;
}

#game .row {
	height: 22px;
}

#game .cell {
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid black;
}

.game-over {
	display: none;
	margin: 20px auto 0;
	width: 700px;
	color: #1e00ce;
	background-color: rgba(255, 130, 130, 0.5);
	position: relative;
	bottom: 300px;
	opacity: 1;
	height: 80px;
	line-height: 80px;
	font-weight: bold;
	font-size: 1.5em;
}

.snake {
	background-color: red;
	background-image: url("img/cat.jpg");
	background-size: 25px 25px;
}

.food {
	background-color: orange;
	background-image: url("img/mouse.jpg");
	background-size: 25px 25px;
}